sudo: required
dist: trusty
language: node_js
jdk:
  - oraclejdk8
node_js:
  - "8"
node_js: 'node'
before_script:
  - node -v
  - java -version
  - bin/./install-solr.sh
  - npm install -g istanbul
  - npm install --save-dev mocha chai
  - npm install -g coveralls
  - npm install
script:
  - npm run travis
after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
