name: CI

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      solr:
        image: solr:9
        ports:
          - 8983:8983
        options: >-
          --health-cmd "curl --fail http://0.0.0.0:8983/solr/admin/cores || exit 1"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - name: Copy configsets
        run: docker cp -rf /opt/solr/server/solr/configsets $(docker ps -q --filter ancestor=solr:9):/var/solr/data/
      - name: Start Solr
        run: docker exec $(docker ps -q --filter ancestor=solr:9) solr-foreground
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run coverage
        env:
          CI: true
      - name: Coveralls
        uses: coverallsapp/github-action@v1
